<!doctype html>
<html lang="{{ .Site.Language.Lang }}"{{ with .Site.Params.enableDarkMode }} class="dark"{{ end }}>
<head>
  {{- partial "head" . }}
</head>
  {{- $s := .Site.Params }}
  {{- $p := .Params }}
  {{- $maxCodeLines := default 100 $s.codeMaxLines }}
  {{- with $p.codeMaxLines }}
    {{- $maxCodeLines = . }}
  {{- end }}
  {{- $codeLineNumbers := default false $s.codeLineNumbers }}
  {{ with $p.codeLineNumbers }}
    {{- $codeLineNumbers = . }}
  {{ else }}
    {{ if eq $p.codeLineNumbers false }}
      {{- $codeLineNumbers = false }}
    {{ end }}
  {{ end }}
<body class="page-{{ .Kind }}"data-code="{{ $maxCodeLines }}" data-lines="{{ $codeLineNumbers }}" >
  <header class="nav_header">
    {{- partial "nav" . }}
  </header>
  <div class="main wrap pt-4">
    {{- partial "document" . }}
  </div>
  {{- partialCached "footer" . }}
  {{- partialCached "sprites" . }}
  {{- partialCached "scripts" . }}
</body>
</html>
